<table class="orders-table table table-bordered table-striped table-hover" st-safe-src="vm.orders" st-table="vm.ordersDisplayedCopy">
  <thead>
    <th width="2%">#</th>
    <th width="15%">{{ vm.office.title() }}</th>
    <th width="13%">Mon</th>
    <th width="13%">Tue</th>
    <th width="13%">Wed</th>
    <th width="13%">Thu</th>
    <th width="13%">Fri</th>
    <th width="6%">Total to pay</th>
    <th width="6%">Paid</th>
    <th width="6%">Balance</th>
  </thead>
  <tr checkin-row on-checkin="vm.checkIn"></tr>
  <tr ng-repeat="order in vm.orders">
    <td class="number">{{ $index + 1 }}</td>
    <td class="client-name">
      {{ order.client().get('fullName') }}
      <i class="remove-icon glyphicon glyphicon-remove-circle pull-right" ng-click="vm.checkOut(order, $index)"></i>
    </td>
    <td class="weekday">
      <span class="dishset">{{ order.dishsetFor('mon') }}</span>
      <i class="remove-icon glyphicon glyphicon-remove-circle pull-right" ng-click="vm.checkOutOneDay(order, 'mon')"></i>
    </td>
    <td class="weekday">
      <span class="dishset">{{ order.dishsetFor('tue') }}</span>
      <i class="remove-icon glyphicon glyphicon-remove-circle pull-right" ng-click="vm.checkOutOneDay(order, 'tue')"></i>
    </td>
    <td class="weekday">
      <span class="dishset">{{ order.dishsetFor('wed') }}</span>
      <i class="remove-icon glyphicon glyphicon-remove-circle pull-right" ng-click="vm.checkOutOneDay(order, 'wed')"></i>
    </td>
    <td class="weekday">
      <span class="dishset">{{ order.dishsetFor('thu') }}</span>
      <i class="remove-icon glyphicon glyphicon-remove-circle pull-right" ng-click="vm.checkOutOneDay(order, 'thu')"></i>
    </td>
    <td class="weekday">
      <span class="dishset">{{ order.dishsetFor('fri') }}</span>
      <i class="remove-icon glyphicon glyphicon-remove-circle pull-right" ng-click="vm.checkOutOneDay(order, 'fri')"></i>
    </td>
    <td>{{ order.totalToPay() }}</td>
    <td>{{ order.totalPaid() }}</td>
    <td>-55</td>
  </tr>
</table>