.orders-table > thead > tr > th,
.orders-table > tbody > tr > th,
.orders-table > tfoot > tr > th,
.orders-table > thead > tr > td,
.orders-table > tbody > tr > td,
.orders-table > tfoot > tr > td {
  padding: 1px;
}

.orders-table .client-name .remove-icon {
  display: none;
}

.orders-table .client-name:hover .remove-icon {
  display: inline;
  cursor: pointer;
}

.orders-table .weekday .remove-icon {
  display: none;
}

.orders-table .weekday:hover .dishset:not(:empty) + .remove-icon {
  display: inline;
  cursor: pointer;
}
